/* 
*
*	declantyson/2017/base
*	Declan Tyson
*	v0.1.5
*	05/05/2017
*
*/
/* Defaults */
@import url("https://fonts.googleapis.com/css?family=Patua+One|Raleway:300|Raleway:600");
/*
*
*	declantyson/2017/mixins
*	Declan Tyson
*	v0.1.0
*	27/03/2017
*
*/
/* Mixins */
@keyframes arrowScroll {
  0% {
    opacity: 0;
    background-position-y: 10px; }
  30% {
    opacity: 1;
    background-position-y: 25px; }
  70% {
    opacity: 1;
    background-position-y: 25px; }
  100% {
    opacity: 0;
    background-position-y: 30px; } }
/*
*
*	declantyson/2017/fancy-loading-transition
*	Declan Tyson
*	v0.1.0
*	04/04/2017
*
*/
#fancy-loading-transition {
  width: 60px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: -1;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%); }
  #fancy-loading-transition span {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    animation: bounce 1.5s infinite; }

#fancy-loading-transition span:nth-of-type(3) {
  animation-delay: 0.45s; }

#fancy-loading-transition span:nth-of-type(2) {
  animation-delay: 0.3s; }

#fancy-loading-transition span:nth-of-type(1) {
  animation-delay: 0.15s; }

@keyframes bounce {
  0% {
    transform: translateY(0) rotate(0deg); }
  12% {
    transform: translateY(0) rotate(0deg); }
  18% {
    transform: translateY(-10px) rotate(90deg); }
  24% {
    transform: translateY(-10px) rotate(135deg); }
  30% {
    transform: translateY(-5px) rotate(180deg); }
  36%, 48%, 100% {
    transform: translateY(0) rotate(180deg); } }
/*
*
*	declantyson/2017/webfonts
*	Declan Tyson
*	v0.1.4
*	05/05/2017
*
*/
@font-face {
  font-family: 'Chiller';
  src: url("/assets/fonts/Chiller.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Chiller.woff") format("woff"), url("/assets/fonts/Chiller.ttf") format("truetype"), url("/assets/fonts/Chiller.svg#Chiller") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  overflow: hidden;
  background-color: #000; }

a {
  color: orangered;
  text-decoration: none;
  font-weight: bold; }

#total {
  overflow: auto;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

html, body {
  margin: 0;
  font-family: 'Raleway',  sans-serif;
  font-weight: 300;
  height: 100%; }

p, ol, ul {
  font-size: 18px;
  line-height: 28px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Patua One', cursive;
  letter-spacing: 3px;
  font-weight: normal; }

h4 {
  letter-spacing: 2px;
  margin: 0px;
  padding-bottom: 10px;
  border-bottom: solid 1px #efefef;
  font-weight: lighter; }

.clear, .clearfix {
  clear: both; }
  .clear.padout, .clearfix.padout {
    padding: 20px 0; }

blockquote {
  margin: 40px 5px;
  border-left: solid 3px #999;
  padding: 0 20px;
  font-style: italic; }

img#featured {
  position: fixed;
  object-fit: cover;
  object-position: bottom;
  z-index: -1;
  bottom: 0px;
  left: 0px;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear; }

#container {
  background-color: white;
  -webkit-box-shadow: 0px -80px 200px black;
  -moz-box-shadow: 0px -80px 200px black;
  box-shadow: 0px -80px 200px black;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.content, header {
  width: calc(100% - 40px);
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto; }
  .content:after, header:after {
    content: ' ';
    clear: both;
    display: block; }

#ocelot-content {
  -webkit-transition: opacity 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: opacity 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: opacity 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: opacity 0.25s cubic-bezier(0, 0, 0.25, 1);
  padding: 40px; }
  @media screen and (max-width: 480px) {
    #ocelot-content {
      padding: 10px; } }
  #ocelot-content a {
    position: relative;
    display: inline-block; }
    #ocelot-content a:after {
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
      opacity: 0;
      width: 0%;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      border-width: 0px;
      border-style: solid;
      border-color: orangered;
      content: ' ';
      display: block; }
    #ocelot-content a:hover:after {
      border-width: 1px;
      opacity: 1;
      width: 100%; }

header {
  -webkit-transition: margin 0.35s linear;
  -moz-transition: margin 0.35s linear;
  -o-transition: margin 0.35s linear;
  transition: margin 0.35s linear;
  max-width: 1200px;
  padding: 0 20px;
  margin: 40px auto; }

.col {
  float: left;
  margin-right: 1%;
  width: 99%; }
  .col.col-66 {
    width: 65%; }
  .col.col-50 {
    width: 49%; }
  .col.col-33 {
    width: 32%; }

/*
*
*	declantyson/2017/home
*	Declan Tyson
*	v0.1.2
*	03/08/2017
*
*/
.navigation {
  margin-top: -20px;
  border-bottom: solid 1px #cdcdcd;
  position: relative; }
  .navigation ul {
    padding: 0;
    margin: 0 0 0 -20px; }
    .navigation ul a {
      color: #000000;
      text-decoration: none; }
    .navigation ul li {
      -webkit-transition: background-color 0.15s ease-out;
      -moz-transition: background-color 0.15s ease-out;
      -o-transition: background-color 0.15s ease-out;
      transition: background-color 0.15s ease-out;
      padding: 20px 20px;
      margin: 0;
      display: inline-block;
      list-style-type: none;
      line-height: 30px;
      font-weight: 600;
      position: relative; }
      @media screen and (max-width: 640px) {
        .navigation ul li {
          font-size: 14px;
          padding: 15px;
          line-height: 19.8px; } }

.drop {
  height: 70px;
  width: 70px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: none;
  cursor: pointer; }
  .drop:after {
    content: ' ';
    height: 100%;
    width: 100%;
    background-image: url("/assets/drop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    display: block;
    animation: arrowScroll 1s infinite; }
  .drop.in {
    display: block; }
    @media screen and (max-width: 640px) {
      .drop.in {
        display: none; } }

body.homepage .drop.in {
  display: none; }

/*
*
*	declantyson/2017/page
*	Declan Tyson
*	v0.1.0
*	27/03/2017
*
*/
.homepage .content, .homepage header {
  padding-bottom: 0; }
.homepage #ocelot-content {
  padding: 0; }
.homepage #container {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
.homepage header {
  color: #000000; }

header {
  color: #fff;
  margin: calc(100vh - 182px) auto 40px auto; }
  header h1 {
    font-size: 48px;
    line-height: 54px;
    margin: 0;
    top: 50px;
    opacity: 0;
    position: relative; }
    @media screen and (max-width: 480px) {
      header h1 {
        font-size: 32px;
        letter-spacing: 1px; } }
  header p {
    margin: 0;
    font-size: 20px;
    top: 50px;
    opacity: 0;
    position: relative;
    margin-top: 10px;
    margin-bottom: -20px; }
  header.in h1, header.out h1 {
    -webkit-transition: opacity 0.5s linear, top 0.5s ease-out;
    -moz-transition: opacity 0.5s linear, top 0.5s ease-out;
    -o-transition: opacity 0.5s linear, top 0.5s ease-out;
    transition: opacity 0.5s linear, top 0.5s ease-out; }
  header.in p, header.out p {
    -webkit-transition: opacity 0.75s linear, top 0.75s ease-out;
    -moz-transition: opacity 0.75s linear, top 0.75s ease-out;
    -o-transition: opacity 0.75s linear, top 0.75s ease-out;
    transition: opacity 0.75s linear, top 0.75s ease-out; }
  header.in h1, header.in p {
    opacity: 1;
    top: 0px; }
  header.out h1, header.out p {
    opacity: 0;
    top: -20px; }

img#featured {
  height: 100%; }

/*
*
*	declantyson/2017/blogs
*	Declan Tyson
*	v0.1.0
*	30/03/2017
*
*/
#ocelot-content .blogs {
  text-align: center;
  border-top: solid 1px #efefef;
  margin-top: 30px; }
  #ocelot-content .blogs a {
    width: 30%;
    padding: 30px 0;
    border-bottom: solid 1px #efefef;
    margin: 0 1%; }
    @media screen and (max-width: 640px) {
      #ocelot-content .blogs a {
        width: 48%; } }
    @media screen and (max-width: 480px) {
      #ocelot-content .blogs a {
        width: 98%; } }
    #ocelot-content .blogs a h3 {
      margin: 0; }
    #ocelot-content .blogs a span {
      font-weight: lighter; }
    #ocelot-content .blogs a:after {
      margin-top: 10px; }
    #ocelot-content .blogs a:hover:after {
      width: 200px; }

.blog-the-bowie-effect #featured,
.blog-the-worst-film-of-all-time #featured,
.blog-game-of-thrones #featured,
.blog-game-of-thrones-s3 #featured {
  object-position: top; }

.blog-splatoon header h1, .blog-splatoon header p {
  position: relative; }
.blog-splatoon header h1 {
  z-index: 3; }
.blog-splatoon header p {
  z-index: 2; }
.blog-splatoon header img {
  position: absolute;
  margin-top: -110px;
  z-index: -1; }

/*
*
*	declantyson/2017/blogalongabond
*	Declan Tyson
*	v0.1.0
*	25/04/2017
*
*/
#ocelot-content .blogs-bond {
  border-top: solid 1px #efefef;
  margin-top: 30px; }
  #ocelot-content .blogs-bond a {
    display: inline-block;
    width: 31%;
    margin: 10px 1%;
    position: relative; }
    @media screen and (max-width: 960px) {
      #ocelot-content .blogs-bond a {
        width: 48%; } }
    @media screen and (max-width: 640px) {
      #ocelot-content .blogs-bond a {
        width: 98%; } }
    #ocelot-content .blogs-bond a img {
      width: 100%;
      filter: brightness(40%); }
    #ocelot-content .blogs-bond a .thumb-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: center;
      width: 90%;
      padding: 0 5%;
      color: #ffffff; }
      #ocelot-content .blogs-bond a .thumb-content h3 {
        margin: 0; }
      #ocelot-content .blogs-bond a .thumb-content span {
        font-weight: lighter; }
    #ocelot-content .blogs-bond a:after {
      margin-top: 10px;
      bottom: 20px;
      border-color: #ffffff; }
    #ocelot-content .blogs-bond a:hover:after {
      width: 120px; }

.blogalongabond-the-day-i-met-james-bond #featured {
  object-position: top; }

.blogalongabond-casino-royale .content img, .blogalongabond-casino-royale header img {
  display: block;
  margin: 0 auto; }

/*
*
*	declantyson/2017/awards
*	Declan Tyson
*	v0.1.6
*	03/08/2017
*
*/
body[class^="awards"] #fancy-loading-transition {
  display: none; }
body[class^="awards"] .navigation {
  border-color: #333; }
body[class^="awards"] header {
  margin: 0 !important; }
  body[class^="awards"] header h1, body[class^="awards"] header p {
    display: none; }
body[class^="awards"] .drop {
  display: none; }
body[class^="awards"] #container {
  background-color: #dedede;
  min-height: 100%; }
  body[class^="awards"] #container #ocelot-content {
    padding: 0; }
  body[class^="awards"] #container .awards-content {
    width: 100%; }
    body[class^="awards"] #container .awards-content a {
      border-bottom: solid 1px #666666;
      padding: 10px 0;
      width: 100%;
      text-align: center;
      max-width: 540px;
      display: block;
      margin: 0 auto; }
      body[class^="awards"] #container .awards-content a:hover:after {
        width: 100px; }
      body[class^="awards"] #container .awards-content a:last-of-type {
        border-bottom: none; }
  body[class^="awards"] #container .awards-sidebar {
    padding: 60px 0;
    width: 150px;
    float: left;
    border-right: solid 1px #666666; }
    body[class^="awards"] #container .awards-sidebar a {
      width: 100%;
      text-align: center; }
      body[class^="awards"] #container .awards-sidebar a:after {
        -webkit-transform: translateX(-50%) translateY(-10px);
        -moz-transform: translateX(-50%) translateY(-10px);
        -ms-transform: translateX(-50%) translateY(-10px);
        transform: translateX(-50%) translateY(-10px); }
      body[class^="awards"] #container .awards-sidebar a:hover:after {
        width: 40px; }
    @media screen and (max-width: 640px) {
      body[class^="awards"] #container .awards-sidebar {
        float: none;
        width: 100%;
        padding: 20px 0;
        border-right: none;
        border-bottom: solid 1px #666666; }
        body[class^="awards"] #container .awards-sidebar a {
          width: auto;
          display: inline-block;
          padding: 0 20px; }
          body[class^="awards"] #container .awards-sidebar a h3 {
            display: inherit; } }
  body[class^="awards"] #container .awards-copy {
    width: calc(100% - 220px);
    padding: 60px 20px 60px 40px;
    float: right;
    color: #333333; }
    body[class^="awards"] #container .awards-copy img {
      width: 100%; }
    @media screen and (max-width: 640px) {
      body[class^="awards"] #container .awards-copy {
        width: calc(100% - 40px);
        padding: 20px;
        float: none; } }
  body[class^="awards"] #container a {
    color: #000000; }
    body[class^="awards"] #container a:after {
      border-color: #000000; }

.awards-2016 h1,
.awards-2012 h1 {
  font-family: 'Chiller', 'Marker Felt', sans-serif; }

/*
*
*	declantyson/2017/travel
*	Declan Tyson
*	v0.2.0
*	09/01/2018
*
*/
body[class^="travel"] h2 {
  text-align: center;
  padding: 20px 0; }
body[class^="travel"] video {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: block; }

/*# sourceMappingURL=styles.css.map */
