/*
*
*	declantyson/2020/base
*	Declan Tyson
*	v1.0
*	03/03/2020
*
*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v20/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtY.ttf) format('truetype');
}
html,
body {
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 18px;
  color: #363636;
}
h1 {
  font-family: 'Playfair Display';
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 48px;
  text-align: center;
  margin: 50px 0 10px 0;
}
h6 {
  font-family: 'Playfair Display';
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  margin: 10px 0 50px 0;
  letter-spacing: 1px;
}
a {
  color: #F25F5C;
  font-weight: 700;
  letter-spacing: 1px;
}
#total {
  width: 100vh;
  height: 100vh;
  overflow: hidden;
}
#featured {
  width: 50vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
#featured img {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#container {
  width: 50vw;
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  right: 0;
  top: 0;
  z-index: 2;
  box-shadow: -5px 0 10px 5px rgba(205, 205, 205, 0.66);
  padding: 30px;
  box-sizing: border-box;
  background: #fff;
}
#ocelot-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
}
.navigation {
  position: fixed;
  top: 0;
  right: 50%;
  display: none;
}
.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navigation ul a {
  display: block;
}
.navigation ul a:nth-of-type(3n + 1) {
  background-color: #F25F5C;
}
.navigation ul a:nth-of-type(3n + 2) {
  background-color: #247BA0;
}
.navigation ul a:nth-of-type(3n) {
  background-color: #FFE066;
}
.navigation ul a li {
  padding: 30px;
  width: 0;
  height: 0;
  text-indent: -9999px;
  margin: 0;
}
