ul
    //a(href="/")
        li Home
    a(href="/about")
        li About
    a(href="/portfolio")
        li Portfolio
    a(href="/blog")
        li Blog
    a(href="/travel")
        li Travel Videos
    a(href="/awards")
        li The DEC Awards
    a(href="/blogalongabond")
        li Blogalongabond

div(class="drop")