html
	head
		title Declan Tyson | The DEC Awards
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		link(rel='stylesheet', href='/css/styles.min.css')
		link(rel='shortcut icon', href='/assets/favicon.png')
	body
		#total
			include includes/fancy-loading-transition

			img#featured(src='/assets/awards.png')

			header

			#container
				.content
					.navigation
						include includes/nav
					#ocelot-content
						include:markdown-it content/awards.md
						.awards-content
							each award in awards
								a(href=award.url class='award-splash')
									img(src=award.image)
									h3= award.title

			each script in scripts
				script(src=script)
