html
	head
		title declantyson.net
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		link(rel='stylesheet', href='/css/styles.min.css')
		link(rel='shortcut icon', href='/assets/favicon.ico')
	body
		#total
			include includes/fancy-loading-transition

			img#featured(src='/assets/blog.png')

			header

			#container
				.content
					.navigation
						include includes/nav
					#ocelot-content
						include:markdown-it content/blog.md
						.blogs
							each blog in blogs
								a(href=blog.url)
									h3!= blog.title
									span= blog.date

			each script in scripts
				script(src=script)