html
	head
		title declantyson.net |
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		link(rel='stylesheet', href='/css/styles.min.css')
		link(rel='shortcut icon', href='/assets/favicon.png')
	body.portfolio
		#total
			include includes/fancy-loading-transition

			img#featured(src='/assets/portfolio.png')

			header

			#container
				.content
					.navigation
						include includes/nav
					#ocelot-content
						include:markdown-it content/portfolio.md
						.work
							each item in work
								.item!= item

			each script in scripts
				script(src=script)
