html
	head
		title declantyson.net
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		link(rel='stylesheet', href='/css/styles.min.css')
		link(rel='shortcut icon', href='/assets/favicon.png')
	body
		#total
			include includes/fancy-loading-transition

			img#featured(src='/assets/about.png')

			header

			#container
				.content
					.navigation
						include includes/nav
					#ocelot-content
						include:markdown-it content/travel.md
						h2 South Africa, November 2017
						p
							em Song: Hunter Hunted - Keep Together
							br
							em Equipment: GoPro Hero 5, Canon 750D
						video(src='/assets/videos/SOUTHAFRICA.mp4' controls)
						h2 Coworth Park, Ascot, July 2017
						p
							em Song: The National Parks - Ba Ba Ra
							br
							em Equipment: GoPro Hero 5
						video(src='/assets/videos/COWORTH.mp4' controls)
						h2 Iceland, November 2016
						p
							em Song: Aldenmark Niklasson - Into Forever
							br
							em Equipment: GoPro Hero 5

						video(src='/assets/videos/ICELAND.mp4' controls)

			each script in scripts
				script(src=script)
