html
	head
		title declantyson.net
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		link(rel='stylesheet', href='/css/styles.min.css')
		link(rel='shortcut icon', href='/assets/favicon.ico')
	body
		#total
			img#featured(src='/assets/home-temp.png')

			header

			#container
				.content
					.navigation
						include includes/nav
					#ocelot-content !{ content }
			each script in scripts
				script(src=script)