/*
*
*	declantyson/2017/awards
*	Declan Tyson
*	v0.1.6
*	03/08/2017
*
*/

$awards: #dedede;
$awardsBorder: #666666;
//$awards: #afa922;

body[class^="awards"] {
    #fancy-loading-transition {
        display: none;
    }

    .navigation {
        border-color: #333;
    }

    header {
        margin: 0 !important;
        h1, p {
            display: none;
        }
    }

    .drop {
        display: none;
    }

    #container {
        background-color: $awards;
        min-height: 100%;

        #ocelot-content {
            padding: 0;
        }

        .awards-content {
            width: 100%;
            a {
                border-bottom: solid 1px $awardsBorder;
                padding: 10px 0;
                width: 100%;
                text-align: center;
                max-width: 540px;
                display: block;
                margin: 0 auto;
                &:hover {
                    &:after {
                        width: 100px;
                    }
                }
                &:last-of-type {
                    border-bottom: none;
                }
            }
        }

        .awards-sidebar {
            padding: 60px 0;
            width: 150px;
            float: left;
            border-right: solid 1px $awardsBorder;
            a {
                width: 100%;
                text-align: center;
                &:after {
                    @include transform(translateX(-50%) translateY(-10px));
                }
                &:hover {
                    &:after {
                        width: 40px;
                    }
                }
            }

            @media screen and (max-width:640px) {
                float: none;
                width: 100%;
                padding: 20px 0;
                border-right: none;
                border-bottom: solid 1px $awardsBorder;
                a {
                    width: auto;
                    display: inline-block;
                    padding: 0 20px;
                    h3 {
                        display: inherit;
                    }
                }
            }
        }

        .awards-copy {
            width: calc(100% - 220px);
            padding: 60px 20px 60px 40px;
            float: right;
            color: #333333;
            img {
                width: 100%;
            }
            @media screen and (max-width:640px) {
                width: calc(100% - 40px);
                padding: 20px;
                float: none;
            }
        }

        a {
            color: #000000;
            &:after {
                border-color: #000000;
            }
        }
    }
}


.awards-2016,
.awards-2012 {
    h1 {
        font-family: 'Chiller', 'Marker Felt', sans-serif;
    }
}