/* 
*
*	declantyson/2017/base
*	Declan Tyson
*	v0.1.1
*	30/03/2017
*
*/

/* Defaults */

@import url('https://fonts.googleapis.com/css?family=Patua+One|Raleway:300|Raleway:600');
@import "mixins";

$paragraphFontSize: 18px;
$mobile: 480px;

html {
	overflow: hidden;
	background-color: #000;
}

a {
	color: orangered;
	text-decoration: none;
	font-weight: bold;
}

#total {
	overflow: auto;
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

html, body {
	margin: 0;
	font-family: 'Raleway',  sans-serif;
	font-weight: 300;
	height: 100%;
}

p {
	font-size: $paragraphFontSize;
	line-height: #{$paragraphFontSize + 10};
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Patua One', cursive;
	letter-spacing: 3px;
	font-weight: normal;
}

h4 {
	letter-spacing: 2px;
	margin: 0px;
	padding-bottom: 10px;
	border-bottom: solid 1px #efefef;
}

.clear, .clearfix {
	clear: both;
	&.padout {
		padding: 20px 0;
	}
}

img#featured {
	position: fixed;
	object-fit: cover;
	z-index: -1;
	top: 0px;
	left: 0px;
	width: 100%;
	@include transition(opacity 0.25s linear);
}

$contentPadding: 20px;
$containerOpacity: 1;
#container {
	background-color: rgba(255,255,255,$containerOpacity);
	-webkit-box-shadow: 0px -80px 200px black;
	-moz-box-shadow: 0px -80px 200px black;
	box-shadow: 0px -80px 200px black;
}

.content {
	width: calc(100% - #{$contentPadding * 2});
	padding: $contentPadding;
	max-width: 1200px;
	margin: 0 auto;
	&:after {
		content: ' ';
		clear: both;
		display: block;
	}
}

#ocelot-content {
	@include transition(opacity 0.25s cubic-bezier(0,0,0.25,1));
	padding: 40px;
	@media screen and (max-width: $mobile) {
		padding: 10px;
	}
	a {
		position: relative;
		display: inline-block;
		&:after {
			@include transition(all 0.25s ease-out);
			opacity: 0;
			width: 0%;
			position: absolute;
			left: 50%;
			@include transform(translateX(-50%));
			border-width: 0px;
			border-style: solid;
			border-color: orangered;
			content: ' ';
			display: block;
		}
		&:hover {
			&:after {
				border-width: 1px;
				opacity: 1;
				width: 100%;
			}
		}
	}
}

$headerHeight: 54px;
$headerSpacing: 40px;

header {
	@extend .content;
	@include transition(margin 0.25s linear);
	max-width: 1200px;
	padding: 0 $contentPadding;
	margin: $headerSpacing auto;
}

.col {
	float: left;
	margin-right: 1%;
	width: 99%;
	&.col-66 {
		width: 65%;
	}
	&.col-50 {
		width: 49%;
	}
	&.col-33 {
		width: 32%;
	}
}

@import "nav";
@import "page";
@import "blogs";