/* 
*
*	declantyson/2017/base
*	Declan Tyson
*	v0.0.1
*	23/03/2017
*
*/

/* Defaults */

@import url('https://fonts.googleapis.com/css?family=Patua+One|Raleway:300|Raleway:600');
@import "mixins";

$paragraphFontSize: 16px;

html {
	overflow: hidden;
}

#total {
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

html, body {
	margin: 0;
	font-family: 'Raleway',  sans-serif;
	font-weight: 300;
	height: 100%;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Patua One', cursive;
	letter-spacing: 3px;
	font-weight: normal;
}

.clear, .clearfix {
	clear: both;
	&.padout {
		padding: 20px 0;
	}
}

img#featured {
	position: fixed;
	object-fit: cover;
	z-index: -1;
	top: 0px;
	left: 0px;
	width: 100%;
}

$contentPadding: 20px;
#container {
	background-color: rgba(255,255,255,0.7);
}

.content {
	width: calc(100% - #{$contentPadding * 2});
	padding: $contentPadding;
	max-width: 1200px;
	margin: 0 auto;
	&:after {
		content: ' ';
		clear: both;
		display: block;
	}
}

#ocelot-content {
	@include transition(opacity 0.25s cubic-bezier(0,0,0.25,1));
}

$headerHeight: 54px;
$headerSpacing: 40px;

header {
	@extend .content;
	@include transition(margin 0.25s linear);
	max-width: 1200px;
	padding: 0 $contentPadding;
	margin: $headerSpacing auto;
}

.col {
	float: left;
	margin-right: 1%;
	width: 99%;
	&.col-66 {
		width: 65%;
	}
	&.col-50 {
		width: 49%;
	}
	&.col-33 {
		width: 32%;
	}
}


@import "nav";
@import "home";