/*
*
*	declantyson/2017/blogs
*	Declan Tyson
*	v0.1.0
*	30/03/2017
*
*/

#ocelot-content {
	.blog {
		display: flex;

		aside {
			flex: 0 0 240px;
			padding-right: 30px;
		}

		.blogs {
			text-align: center;
			border-top: solid 1px #efefef;
			margin-top: 30px;

			a {
				width: 100%;
				padding: 30px;
				border-bottom: solid 1px #efefef;
				position: relative;
				overflow: hidden;
				margin: 10px 0;
				color: #ffffff;
				box-sizing: border-box;

				img {
					position: absolute;
					left: 0;
					width: 100%;
					transform: translateY(-50%);
					z-index: 1;
				}

				h3 {
					margin: 0;
					position: relative;
					z-index: 3;
				}

				.blackener {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,0.6);
					z-index: 2;
				}

				.date {
					font-weight: lighter;
					position: relative;
					z-index: 3;
				}

				&:after {
					margin-top: 10px;
					position: relative;
					z-index: 2;
					display: none;
				}

				&:hover {
					&:after {
						width: 200px;
					}
				}
			}
		}
		
		@media screen and (max-width: 768px) {
			flex-direction: column;

			aside {
				padding: 0;
			}

			.blogs a {
				padding: 15px;
			}
		}
	}
}

.blog-the-bowie-effect,
.blog-the-worst-film-of-all-time,
.blog-game-of-thrones,
.blog-game-of-thrones-s3 {
	#featured {
		object-position: top;
	}
}

.blog-splatoon {
	header {
		h1, p {
			position: relative;
		}
		h1 {
			z-index: 3;
		}
		p {
			z-index: 2;
		}
		img {
			position: absolute;
			margin-top: -110px;
			z-index: -1;
		}
	}
}
