/*
*
*	declantyson/2017/mixins
*	Declan Tyson
*	v0.1.0
*	27/03/2017
*
*/

/* Mixins */

@mixin transform($val...) {
	-webkit-transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	transform: $val;
}

@mixin borderRadius($val...) {
	-webkit-border-radius: $val;
	-moz-border-radius: $val;
	border-radius: $val;
}

@mixin transition($val...) {
	-webkit-transition: $val;
	-moz-transition: $val;
	-o-transition: $val;
	transition: $val;
}

@mixin boxShadow($val...) {
	-webkit-box-shadow: $val;
	box-shadow: $val;
}

@function opposite-direction($directions) {
	$opposite-directions: ();
	$direction-map: (
			'top':    'bottom',
			'right':  'left',
			'bottom': 'top',
			'left':   'right',
			'center': 'center',
			'ltr':    'rtl',
			'rtl':    'ltr'
	);

	@each $direction in $directions {
		$direction: to-lower-case($direction);

		@if map-has-key($direction-map, $direction) {
			$opposite-directions: append($opposite-directions, unquote(map-get($direction-map, $direction)));
		} @else {
			@warn "No opposite direction can be found for `#{$direction}`. Direction omitted.";
		}
	}

	@return $opposite-directions;
}

@mixin triangle($direction, $color, $size) {
	@if not index(top right bottom left, $direction) {
		@error "Direction must be either `top`, `right`, `bottom` or `left`.";
	}

	width: 0;
	height: 0;
	content: '';
	z-index: 2;
	border-#{opposite-direction($direction)}: ($size * 1.5) solid $color;
	border-#{$direction}-width: 0px;

	$perpendicular-borders: $size solid transparent;

	@if $direction == top or $direction == bottom {
		border-left:   $perpendicular-borders;
		border-right:  $perpendicular-borders;
	} @else if $direction == right or $direction == left {
		border-bottom: $perpendicular-borders;
		border-top:    $perpendicular-borders;
	}
}

@keyframes arrowScroll {
	0% {
		opacity: 0;
		background-position-y: 10px;
	}

	30% {
		opacity: 1;
		background-position-y: 25px;
	}

	70% {
		opacity: 1;
		background-position-y: 25px;
	}

	100% {
		opacity: 0;
		background-position-y: 30px;
	}
}