/*
*
*	declantyson/2017/home
*	Declan Tyson
*	v0.0.1
*	23/03/2017
*
*/

$navHeight: 30px;

.navigation {
	margin-top: -$contentPadding;
	ul {
		padding: 0;
		margin: 0 0 0 -20px;
		a {
			color: #000000;
			text-decoration: none;
		}
		li {
			@include transition(background-color 0.15s ease-out);
			padding: $contentPadding 20px;
			margin: 0;
			display: inline-block;
			list-style-type: none;
			line-height: $navHeight;
			font-weight: 600;
			position: relative;
			&:hover {
				background-color: #ffffff;
			}
		}
	}
}