/*
*
*	declantyson/2017/page
*	Declan Tyson
*	v0.1.0
*	27/03/2017
*
*/

.homepage {
	.content {
		padding-bottom: 0;
	}
	#ocelot-content {
		padding: 0;
	}
}

header {
	color: #fff;
	margin: calc(100vh - #{$headerHeight + ($contentPadding * 2) + $headerSpacing + $navHeight + $paragraphFontSize}) auto $headerSpacing auto;
	h1 {
		font-size: 48px;
		line-height: $headerHeight;
		margin: 0;
		top: 50px;
		opacity: 0;
		position: relative;
		@media screen and (max-width: $mobile) {
			font-size: 32px;
			letter-spacing: 1px;
		}
	}
	p {
		margin: 0;
		font-size: 20px;
		top: 50px;
		opacity: 0;
		position: relative;
		margin-top: 10px;
		margin-bottom: -$contentPadding;
	}

	&.in, &.out {
		h1 {
			@include transition(opacity 0.5s linear, top 0.5s ease-out);
		}
		p {
			@include transition(opacity 0.75s linear, top 0.75s ease-out);
		}
	}
	&.in {
		h1, p {
			opacity: 1;
			top: 0px;
		}
	}
	&.out {
		h1, p {
			opacity: 0;
			top: -20px;
		}
	}
}
img#featured {
	height: 100%;
}
