/*
*
*	declantyson/2017/travel
*	Declan Tyson
*	v0.2.0
*	09/01/2018
*
*/

body[class^="travel"] {
  h2 {
    text-align: center;
    padding: 20px 0;
  }

  #ocelot-content {
    p {
      max-width: 720px;
      margin: 0 auto;
      padding-bottom: 20px;
    }
  }

  video {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    display: block;
  }
}