/*
*
*	declantyson/2017/webfonts
*	Declan Tyson
*	v0.1.4
*	05/05/2017
*
*/

@font-face {
	font-family: 'Chiller'; 
	src: url('/assets/fonts/Chiller.eot?#iefix') format('embedded-opentype'), 
		 url('/assets/fonts/Chiller.woff') format('woff'), 
		 url('/assets/fonts/Chiller.ttf') format('truetype'), 
		 url('/assets/fonts/Chiller.svg#Chiller') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}