/*
*
*	declantyson/2017/blogs
*	Declan Tyson
*	v0.1.0
*	30/03/2017
*
*/

#ocelot-content {
	.blogs {
		text-align: center;
		border-top: solid 1px #efefef;
		margin-top: 30px;
		a {
			width: 30%;
			padding: 30px 0;
			border-bottom: solid 1px #efefef;
			margin: 0 1%;
			@media screen and (max-width: 640px) {
				width: 48%;
			}
			@media screen and (max-width: 480px) {
				width: 98%;
			}
			h3 {
				margin: 0;
			}
			span {
				font-weight: lighter;
			}
			&:after {
				margin-top: 10px;
			}
			&:hover {
				&:after {
					width: 200px;
				}
			}
		}
	}
}

.blog-the-bowie-effect,
.blog-the-worst-film-of-all-time,
.blog-game-of-thrones,
.blog-game-of-thrones-s3 {
	#featured {
		object-position: top;
	}
}

.blog-splatoon {
	header {
		h1, p {
			position: relative;
		}
		h1 {
			z-index: 3;
		}
		p {
			z-index: 2;
		}
		img {
			position: absolute;
			margin-top: -110px;
			z-index: -1;
		}
	}
}
